.logo-container {
  position: relative;
  height: 50px;
  width: 150px;
  background-color: rgb(175,7,15);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255,255);
    text-transform: uppercase;
    span {
      border-top: 3px solid rgb(255, 255,255);
      border-bottom: 3px solid rgb(255, 255,255);
      padding: 2px 0;
    }
  }
}