.carousel-container {
  .carousel-img-container {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar { width: 1rem };
  }
  .carousel-image {
    width: 100vw;
    height: auto;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
  }
}

@media only screen and (min-width: 800px) {
  .carousel-container {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
    .carousel-img-container {
      height: 45vh;
      width: 685px;
    }
    .carousel-image {
      display: none;
      width: auto;
      &.active {
        display: block;
      }
    }
  }
}
