.hero-details-container {
  padding: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  img {
    width: auto;
    height: 200px;
    border-radius: 5px;
  }
  p {
    font-size: 0.8rem;
    text-align: left;
  }
  
  .hero-details-img-bio-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
  }
  
  .hero-details-bio-container {
    display: flex;
    flex-flow: column nowrap;
    width: 150px;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    h2 { 
      text-align: center;
      margin: 0 0 5px;
    }
    p { margin: 5px }
  }
  
  .hero-details-additional {
    position: relative;
    max-height: 320px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    .hero-details-additional-bio {
      overflow: auto;
      max-height: 260px;
      
      .hero-stats-container {
        display: flex;
        flex-flow: row wrap;
        padding: 5px 15px;
        justify-content: flex-end;
        list-style: none;
        width: 98%;
        border: 1px solid rgb(255, 255, 255);
        font-size: 12px;
        box-sizing: border-box;
        border-radius: 5px;
        text-transform: capitalize;
        li {
          width: 45%
        }
      }
      h5 {
        margin: 10px 0;
        text-decoration: underline;
      }
    }
    
    .btn-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
    }
  }
}

@media only screen and (min-width: 800px) {
  .hero-details-container {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .hero-details-bio-container {
      width: auto;
    }
    
    .hero-details-img-bio-container {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
      p {
        font-size: 1rem;
      }
    }
    
    .hero-details-additional {
      max-height: 700px;
      .hero-details-additional-bio {
        width: 550px;
        max-height: 600px;
        overflow: initial;
        .hero-stats-container {
          font-size: 1.2rem;
        }
        h5 { font-size: 1rem; }
        p {
          font-size: 1rem;
        }
      }
      .btn-container {
        justify-content: center;
        gap: 50px;
      }
    }
    
    img {
      height: 400px;
    }
  }
}