.btn {
  border: none;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;

  &.add-to {
    background-color: transparent;
    color: rgb(0, 150, 106);
    border: 1px solid;
    border-color:rgb(0, 150, 106);
  }
  &.checkout {
    border-radius: 0 0 5px 5px;
    border-left: 3px solid #af070f;
    border-right: 2px solid #af070f;
    color: #af070f;
    background: rgb(255, 255, 255);
  }
}