.btn {
  border: none;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;

  &.add-to {
    background-color: transparent;
    color: rgb(0, 150, 106);
    border: 1px solid;
    border-color:rgb(0, 150, 106);
  }
}