.main-page-container {
  color: white;
  text-align: center;
  .main-page-information-container {
    padding: 10px;
    .main-page-cta {
      text-align: left;
      padding: 5px;
      font-size: 0.9rem;
    }
  }
}

@media only screen and (min-width: 761px) {
  .main-page-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    height: 80vh;
    justify-content: center;
    .main-page-information-container {
      .main-page-cta {
        text-align: center;
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .main-page-cta {
    p:first-child {
      display: none;
    }
  }
}