.hero-card {
  a { text-decoration: none;};
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: rgb(140, 56, 46);
  border-radius: 5px;
  position: relative;
  img {
    width: 200px;
  }
  h2 {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 1rem;
    margin: 30px 0;
    color: rgb(255, 255, 255);
  }
}


.hero-card.back {
  a {
    text-decoration: none;
  }
  color: white;
}

.hero-stats-container{
  display: flex;
  flex-flow: row nowrap;
  .hero-stat {
    border-radius: 50%;
    background: blue;
    width: 10px;
    height: 10px;
  }
}