.hero-card {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  width: 200px;
  height: 360px;
  perspective: 1000px;

  &:hover .hero-card-inner {
    transform: rotateY(180deg);
  }

  .hero-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    img {
      border-radius: 10px 10px 0 0;
      width: 200px;
    }
  
    .hero-card-front, .hero-card-back {
      background-color: rgb(140, 56, 46);
      color: white;
      position: absolute;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      border-radius: 10px;
      h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
  
    .hero-card-back {
      transform: rotateY(180deg);
      width: 100%;
      height: inherit;
      
      .hero-card-back-body {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        padding: 20px;
        p {
          font-size: 1rem;
          text-align: left;
        }
        button {
          position: absolute;
          right: 12%;
          bottom: 25px;
          width: 150px;
        }
      }
    }
  }
}